body{padding:0; margin: 0;}

#mainWrapper{
position: absolute;
background-image: url('../resources/sunrise.jpeg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  width: 100%;
  height:100vh;
  margin:0;

}
#bestelfrom{
  position: relative;
  max-width:800px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  margin-top:10%;
  padding-top:50px;
}

mat-form-field {
  text-align: center;
  logical-height: 200px;
  -webkit-logical-height: 200px;
  -moz-logical-height: 200px;
  -o-logical-height: 200px;

}
.mat-grid-list {
  position: relative;
}

#naam{
  font-size:50px;
}

mat-form-field{
  width: 100% !important;
  background-color: pink;
  margin-top: 0px;
}

#TotaalPers{
  height:150px;
  font-size: 120px !important;
}

#email{
  font-size:25px;
  background-color: green;
}

mat-grid-tile:nth-of-type(1){
  background-color: green;

}
mat-grid-tile:nth-of-type(2){
  background-color: red;

}
