body{padding:0; margin: 0;
}

#mainWrapper{
position: absolute;
  background-image: url('../resources/sunrise.jpeg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height:100%;
  font-family: "Architects Daughter", serif;
  color: #3D3C3A;
  left:0px;
  top:0px;

}
#link2017 {
  font-family: "Architects Daughter", serif;  font-size: 15px;
  position: fixed;
  top: 15px;
  right: 15px;
  float: right;
  border-radius: 10px;
  border: 1px #d4d4d4 solid;
  cursor: pointer;
  background-color: #151515;
  color: #FFF;
  z-index: 10;
  text-align: center;
  padding: 10px;
  opacity: 0.5;
}
p{
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  padding-top:30px;
  padding-bottom: 5px;
  font-size: 65px;

}
#bestelfrom{
  position: relative;
  max-width:800px;
  height: auto;
  margin: 0 auto;
  top:5%;
  padding-bottom:30px;
  background-color: rgba(248,255,252,0.81);


}

.mat-form-field {
  text-align: center;
  logical-height: 13px;
  -webkit-logical-height: 13px;
  -moz-logical-height: 13px;
  -o-logical-height: 13px;
  font-family: "Architects Daughter", serif;
}

.mat-label{
  text-align: center;
  logical-height: 13px;
  -webkit-logical-height: 13px;
  -moz-logical-height: 13px;
  -o-logical-height: 13px;
  font-family: "Architects Daughter", serif;
}

.mat-form-field-appearance-legacy {
}

.mat-form-field-underline {
  opacity: 0 !important;
}

.mat-grid-list {
  position: relative;
  top:0;
}

#naam{
  height: 50px;
  font-size:30px;
  background-color: red;
}

mat-form-field{
  margin-top: 0px;

}

#TotaalPers{
  padding-top: 10px;
  font-size: 120px !important;

}

#email{
  width: 100% !important;
  padding: 10px;
  font-size:15px;

}
#InputEmail{
  width: 100%;
}

#uur {
  padding:10px;
  width: 85% !important;
  font-size: 15px;
  background-color: rgba(252,255,252,0.08);
}
#dag.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #3D3C3A !important;
}

#dag {
  height: auto;
  font-size: 14px;
  background-color: rgba(252,255,252,0.08);


}


mat-radio-button {
  padding: 10px;
  font-family: "Architects Daughter", serif;

}

.mat-input-element{
  background-color: rgba(252,255,252,0.08) !important;

}
#spaghetti.mat-input-element {
  font-size: 70px !important;

}
#veggie.mat-input-element {
  font-size: 70px !important;
}
#kinderen.mat-input-element {
  font-size: 70px !important;
}
#submitBtn {
  height: 50px;
  width: 230px;
  position: relative;
  left: 50%;
  margin-left: -115px;
  top:16px !important;
  background-color: rgb(237, 255, 235);
  color: #3D3C3A;
  font-family: "Architects Daughter", serif;


}
#submitBtn:disabled{
  background-color: grey;
}

.mat-select-value{
  color: #3D3C3A;
  font-family: "Architects Daughter", serif;
}
