<div id="mainWrapper">
  <a id="link2017" href="http://www.benefiet4lyme2017.be">Meer info</a>
  <form id="bestelfrom" [formGroup]="bestellingForm" (ngSubmit)="onSubmit(bestellingForm.value)">


    <mat-grid-list id="list1" cols="2" rowHeight="100px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <p>Benefiet4Lyme</p>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field id="InputNaam">
          <input id="naam" placeholder="Groeps naam" matInput class="md-no-underline" formControlName="naam" required>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-form-field id="InputTotPers">
          <input id="TotaalPers" matInput type="number" class="md-no-underline" formControlName="totaalPersonen" placeholder="Aantal personen?">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field id="InputEmail">

          <input id="email" matInput placeholder="Email" class="md-no-underline" formControlName="email" required>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list id="list" cols="2" rowHeight="75px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field>
          <mat-select ng-model="Uur" id="uur" placeholder="Uur?" class="md-no-underline" formControlName="uur">
            <mat-option value="12-14">12u tot 14u</mat-option>
            <mat-option value="14-16">14u tot 16u</mat-option>
            <mat-option value="16-18">16u tot 18u</mat-option>
            <mat-option value="18-20">18u tot 20u</mat-option>
            <mat-option value="20-22">20u tot 22u</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-radio-group formControlName="dag" id="dag">
          <mat-radio-button value="Zaterdag 13 oktober">Zaterdag 13 oktober</mat-radio-button>
          <mat-radio-button value="Zondag 14 oktober">Zondag 14 oktober</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>
    </mat-grid-list>


    <mat-grid-list id="list2" cols="3" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field>
          <input id="veggie" (change)="addToTotaalBedrag($event)" matInput min="0" type="number" formControlName="aantalVeg" placeholder="Aantal vegetariers">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input id="kinderen" (change)="addToTotaalBedrag($event)" matInput min="0" type="number" formControlName="aantalKinderen" placeholder="Aantal kinderen">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input id="spaghetti" (change)="addToTotaalBedrag($event)" matInput min="0" type="number" formControlName="aantalSpaghetti" placeholder="Aantal spaghetti">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list id="list3" cols="3" rowHeight="50px">
      <mat-grid-tile>
        <mat-label>€12</mat-label>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-label>€8</mat-label>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-label>€12</mat-label>
      </mat-grid-tile>

      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <mat-label>€ {{totaalPrijs}}</mat-label>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>



    <mat-grid-list cols="1" rowHeight="80px">
    <button id="submitBtn" class="submit-btn" color="primary" mat-raised-button type="submit">Verzenden</button>
    </mat-grid-list>
  </form>


</div>
