<mat-table  class="mat-elevation-8">
  <ng-container matColumnDef="eetGroep">
    <mat-header-cell *matHeaderCellDef> Eetgroep </mat-header-cell>
    <mat-cell *matCellDef='let bestelling'> {{bestelling.eetGroep}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let bestelling"> {{bestelling.email}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="naam">
    <mat-header-cell *matHeaderCellDef> Naam </mat-header-cell>
    <mat-cell *matCellDef="let bestelling"> {{bestelling.naam}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="spaghetti">
    <mat-header-cell *matHeaderCellDef> Spaghetti </mat-header-cell>
    <mat-cell *matCellDef="let bestelling"> {{bestelling.spaghetti}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="vegetarisch">
    <mat-header-cell *matHeaderCellDef> Vegetarisch </mat-header-cell>
    <mat-cell *matCellDef="let bestelling"> {{bestelling.vegetarisch}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="stoofvlees">
    <mat-header-cell *matHeaderCellDef> Stoofvlees </mat-header-cell>
    <td mat-cell *matCellDef="let bestelling"> {{bestelling.stoofvlees}} </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
