<p>
  <button (click)="getAlleBestellingenPerTijdstip()">Click me</button>
</p>
<mat-table datasrc="bestellingen" class="mat-elevation-8">
  <ng-container matColumnDef="eetGroep">
    <th mat-header-cell *matHeaderCellDef> Eetgroep </th>
    <td mat-cell *matCellDef="let bestelling"> {{bestelling.eetGroep}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let bestelling"> {{bestelling.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="naam">
    <th mat-header-cell *matHeaderCellDef> Naam </th>
    <td mat-cell *matCellDef="let bestelling"> {{bestelling.naam}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="spaghetti">
    <th mat-header-cell *matHeaderCellDef> Spaghetti </th>
    <td mat-cell *matCellDef="let bestelling"> {{bestelling.spaghetti}} </td>
  </ng-container>

  <ng-container matColumnDef="vegetarisch">
    <th mat-header-cell *matHeaderCellDef> Vegetarisch </th>
    <td mat-cell *matCellDef="let bestelling"> {{bestelling.vegetarisch}} </td>
  </ng-container>

  <ng-container matColumnDef="stoofvlees">
    <th mat-header-cell *matHeaderCellDef> Stoofvlees </th>
    <td mat-cell *matCellDef="let bestelling"> {{bestelling.stoofvlees}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
